.dropdown {
    display: inline-block;
}
.dropdown::after {
    content: '▾';
}
.dropdown:hover::after {
    content: '▴';
}

.dropdown-content {
    font-size: medium;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
    box-shadow: 0px 0px 10px #00000040;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
